<p id="notice"><%= notice %></p>

<h1>Listing Renda Fixas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Vencimento</th>
      <th>Taxa de juros</th>
      <th>Tipo</th>
      <th>Imposto de renda</th>
      <th>Is imposto de renda fixo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @renda_fixas.each do |renda_fixa| %>
      <tr>
        <td><%= renda_fixa.titulo %></td>
        <td><%= renda_fixa.vencimento %></td>
        <td><%= renda_fixa.taxa_de_juros %></td>
        <td><%= renda_fixa.tipo %></td>
        <td><%= renda_fixa.imposto_de_renda %></td>
        <td><%= renda_fixa.is_imposto_de_renda_fixo %></td>
        <td><%= link_to 'Show', renda_fixa %></td>
        <td><%= link_to 'Edit', edit_renda_fixa_path(renda_fixa) %></td>
        <td><%= link_to 'Destroy', renda_fixa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Renda fixa', new_renda_fixa_path %>
